* {
    text-decoration: none;
    margin: 0px;
    padding: 0px;

}

body {
    margin: 0px;
    padding: 0px;
    font-family: 'open sans' ,sans-serif;

}

.wrapper {
    width: 110px;
    margin: auto;
    position: relative;

}

.logo a {
    font-size: 50px;
    font-weight: 800px;
    float: left;
    font-family: courier;
    color: #B4D4FF;

}

.menu {
    float: right;
    
}
