{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>kedai makanan</title>
</head>
<body>
    <div class="container">
        <form action="">
            <h1>login</h1>
            <hr>
            <p>paya kumbuh kota rendang</p>
            <label for="">E-mail</label>
            <input type="text" placeholder="example@gmail.com">
            <label for="">password</label>
            <input type="password" placeholder="password">
            <button>login</button>
            <p>
                <a href="#">forgot password</a>
            </p>

        </form>
    </div>
    <div class="right">
        <img src="" alt="">
    </div>
    
</body>
</html>