*,
html {
    margin: 0;
    padding: 0;
}

.navbar-container {
    background-color: #333;
    width: 100%;
    height: 90px;

}

.ul-navbar {
    display: flex;
    height: 100px;
    justify-content: space space-between;
    align-items: center;
    
}

.li-navbar {
    list-style: none;
    padding: 10px;
    margin: 5px;
    color: white;
}

.li-navbar:hover {
    background-color: grey;
    transition: .1s ease-in-out;
    transition-delay: .2s;
    border-radius: 4px;
}

.a-navbar {
    color: white;
    text-decoration: none;
}

.container-footer {
    height: 1000px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
   
}

body {
    background: rgb(138, 138, 206);
}

.grid
{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin: 80px;
    align-items: center;
    grid-gap: 30px;
}
img{
    object-fit: cover;
}
.grid > article{
    box-shadow: 10px 5px 5px 0px black;
    border-radius: 30px;
    text-align: center; 
    background: whitesmoke;
    width: 300px;
    transition: transform;   
}

.grid > article img{
    border-bottom-left-radius: 30px;
    border-top-right-radius: 30px;

}

.grid > article:hover{
   
    transform: scale(1.2);
    
}

